.logo {
    margin-top: -13.7%;
    
    width: 396px;
    height: 576px;
    display: block;
    background:url('../../../assets/Images/closedbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

.jumbotron {
    position: fixed;
    margin-top: 1%;
    margin-left: 22%;
    height: 97%;
    background-color: #ffffff00;
    
}

.tabs {
    position: relative;
    margin-top: -134%;
    margin-left: -9%;
}

.tab[_ngcontent-c1] {
    margin-left: 46%;
    margin-top: -12%;
}

.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    text-decoration-color: black;
    margin: 0;
    margin-right: 0px;
    min-width: 1.5in;
    line-height: 0.5in;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    margin-left: 20%;
    margin-top: 0%;
}
