<div class="container">
    <div class=jumbotron>

        <!-- onclick, state will be changed to state2, which will allow the image to translate to the right. And going to the loggin page -->
        <a [@animateClosedBook]="state" class="logo">
        </a>

        <div class="tabs">
            <button (click)="openRegisterDialog()" mat-raised-button color="primary"> Register an Account </button>
        </div>

        <div class="tab">
            <button (click)="openLogInDialog()" mat-raised-button color="primary"> LogIn </button>
        </div>
    </div>
</div>