.logo {
    margin-top: -15%;
    
    width: 396px;
    height: 576px;
    display: block;
    background:url('../../../assets/Images/closedbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

.jumbotron {
    position: fixed;
    margin-top: 1%;
    margin-left: 22%;
    height: 97%;
    background-color: #ffffff00;
    
}
