<div class="dialog">
  <mat-dialog-actions>
    <div class="breakfast"> Breakfast
      <button value="1" #category mat-mini-fab (click)="addCat(category.value)">
        <a href="https://icons8.com"></a>
        <img src="https://png.icons8.com/ios/50/000000/cinnamon-roll.png">
      </button>
    </div>
    <div  class="lunch" > Lunch
      <button value="2"  mat-mini-fab (click)="addCat()">
        <a href="https://icons8.com"></a>
        <img src="https://png.icons8.com/ios-glyphs/50/000000/wrap.png">
      </button>
    </div>
    <div class="dinner"> Dinner
      <button value="3"  mat-mini-fab (click)="addCat()">
        <a href="https://icons8.com"></a>
        <img src="https://png.icons8.com/ios/50/000000/food-and-wine-filled.png">
      </button>
    </div>

  </mat-dialog-actions>
</div>