<div class="dialog">
  <mat-dialog-actions>
    <div class="breakfast"> Breakfast
      <button mat-mini-fab>
        <a href="https://icons8.com"></a>
        <img src="https://png.icons8.com/ios/50/000000/cinnamon-roll.png">
      </button>
    </div>
    <div class="lunch"> Lunch
      <button mat-mini-fab>
        <a href="https://icons8.com"></a>
        <img src="https://png.icons8.com/ios-glyphs/50/000000/wrap.png">
      </button>
    </div>
    <div class="dinner"> Dinner
      <button mat-mini-fab>
        <a href="https://icons8.com"></a>
        <img src="https://png.icons8.com/ios/50/000000/food-and-wine-filled.png">
      </button>
    </div>

  </mat-dialog-actions>
</div>