<mat-form-field>
    <input matInput value="Alex Moraga" placeholder="Name" #name>
  </mat-form-field>
  
  <mat-form-field>
    <textarea matInput placeholder="Textarea" #action></textarea>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-raisee-button (click)="logMeIn(name.value)">Log In</button>
  </mat-dialog-actions>
