/* Image */
.logo {
    margin-top: -10%;    
    width: 792px;
    height: 619px;
    display: block;
    background:url('../../../assets/Images/openbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

.logoOne{
    margin-top: -75%;
    margin-left: 50%;
    width: 396px;
    height: 576px;
    display: block;
    background:url('../../../assets/Images/closedbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}


/* Jumbotron */
.jumbotron {
    position: fixed;
    margin-top: 1%;
    margin-left: 7.5%;
    height: 97%;
    background-color: #ffffff00;
}

/* Login Form */
.example-container {
    display: flex;
    flex-direction: column;
    background-color:white;
    border: none;
    margin-top: 25%;
    margin-left: 57%;
    width: 40%;
    z-index: 2px;

  }


  /* Login Button */
.buttonImage {
    background: url('../../../assets/Images/testtab.png');
    margin-top: -3%;
    margin-left: 19%;
    width: 206px;
    height: 27px;
 }

.tabs {
    position: relative;
}

/* Button */
.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    text-decoration-color: black;
    margin: 0;
    margin-right: 0px;
    min-width: 1.5in;
    line-height: 0.5in;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    margin-left: 20%;
    margin-top: 10%;
    z-index: 1px;
}

.mat-raised-button.mat-primary {
    background-color: blue;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 80%;
    margin-left: 11%;
}





