  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-card-header>Want to change your macros, go ahead! It's okay to change them!</mat-card-header>
  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="Protein">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Carbs">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Fats">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Fibre">
  </mat-form-field>
