<div class="row justify-content-center mx-2">
</div>
<div class="row justify-content-center mx-2">
  <div class="col-4">
    <h2>Register</h2>
    <input placeholder="Email" type="email" [(ngModel)] = "newUser.email">
    <input placeholder="Username" type="username" [(ngModel)] = "newUser.username">
    <input placeholder="Password" type="password" [(ngModel)]="newUser.password">
    <input placeholder="First Name" type="text" [(ngModel)]="newUser.f_name">
    <input placeholder="Last Name" type="text" [(ngModel)]="newUser.l_name">
    <button mat-raised-button name="register" color="primary" (click)="register()">Register</button>
    <button mat-raised-button name="login" routerLink="/login">Login</button>
  </div>
</div>