<<<<<<< HEAD
.jumbotron {
    display: flex;
    flex-direction: column;
  }
  
=======
#left{
display: inline-flex;
width: 100%;

}

#right{
    border: darkgreen;
margin-left: 5%;
    }
>>>>>>> basic search component complete. adding further search parameter functionality now.
