<app-button-navbar [navbarPosition]="navbarPosition"></app-button-navbar>

<div class="container">
    <div class=jumbotron>

        <a [@zoomInclosedBook]="state" (click)='zoomInMe()' class="logo">

            <div class="tab">
                <button (click)="openSearchNutri()" mat-raised-button color="primary"> Add </button>
            </div>

            <div class="tab">
                    <button (click)="openSearchNutri()" mat-raised-button color="primary"> Add </button>
                </div>


            
        </a>
    </div>
</div>