<h2 mat-dialog-title> Black Apple's Food Library </h2>
<mat-dialog-content>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
    <p> This is a default information with some data that the user can use to do whatever they want and blah blah blah </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close> Close </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true"> Save </button>
</mat-dialog-actions>