<mat-card>
<mat-card-header>
  <mat-card-title>
<h2>Register Here</h2>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <form [formGroup]='registrationForm'>
<mat-form-field>
  <input matInput placeholder='Preferred Username' formControlName='userName' required>
</mat-form-field>
<br/>
<mat-form-field>
  <input type='email' matInput placeholder='email address' formControlName='email' required>
</mat-form-field>

<mat-form-field>
    <input matInput placeholder='Preferred Password' formControlName='password' required>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder='Confirm Password' formControlName='confirmPassword' (keyup)="passValid(registrationForm.get('confirmPassword').value)" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder='First Name' formControlName='firstName' required> 
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder='Last Name' formControlName='lastName' required> 
        </mat-form-field>

  </form>
  <div *ngIf='errorMessage' role='alert'> 
    {{errorMessage}}
  </div>
  <mat-toolbar #buttonRow>
    <button (click)='register()'>Register</button>
  </mat-toolbar>
</mat-card-content>
</mat-card>