#image {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/textured_paper.png);
}

/* Image openbook */
.logo {
    margin-top: -10%;    
    width: 792px;
    height: 619px;
    display: block;
    background:url('../../../assets/Images/openbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

/* Image closedbook */
.logos {
    margin-top: -75%;
    margin-left: 50%;
    width: 396px;
    height: 576px;
    display: block;
    background:url('../../../assets/Images/closedbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

/* Jumbotron */
.jumbotron {
    position: fixed;
    margin-top: 1%;
    margin-left: 7.5%;
    height: 97%;
    background-color: #ffffff00;
}

/* User's Profile Card */
.example-card {
    max-width: 319px;
    background-color: transparent;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

/* Cards position */
.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 27px;
    margin-top: 7%;
    margin-left: 8%;
    height: 77%;
    width: 374px;
  }

/* Cards shadow */
.mat-card:not([class*=mat-elevation-z]) {
    -webkit-box-shadow: -18px 1px 61px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px 1px 61px -35px rgba(0,0,0,0.75);
    box-shadow: -18px 1px 61px -35px rgba(0,0,0,0.75);
}

/* User's photo */
.mat-card-avatar {
    margin-left: 16%;
    margin-top: -2%;
    height: 180px;
    width: 180px;
    border-radius: 62%;
    flex-shrink: 0;
}

/* User's Card Title */
.mat-card-title {
    font-size: 24px;
    font-weight: 400;
    margin-left: 30%;
    margin-bottom: 29px;
}

.mat-card-content {
    display: block;
    margin-bottom: 3px;
}

/* Title style */
.title {
    font-size:18px;
    font-weight:200;
    margin-left: 0%;
    text-align: left;

}

/* Status bars */
.subtitle {
    font-size: 14px;
    margin-top: 0%;
    text-align: right;
}
  
.mat-card-content[_ngcontent-c1] {
    display: block;
    margin-bottom: 0%;
    height: 57%;
}

.mat-card-title:not(:first-child) {
    margin-top: -15px;
}

/* Alter these for positioning for the status bars!!!!!!!!!!! */
.mat-card-subtitle:not(:first-child) {
margin-top: -50px;
}

.mat-card-subtitle {
    display: block;
    margin-bottom: 30px;
}

/* edit button */
.edit {
    margin-left: 68%;
    margin-top: -5%;
    position: absolute;
<<<<<<< HEAD
}
=======
}
>>>>>>> 51bb29adb2ce690446f7625349cb3198d326e85c
