<div class="container">
  <div class="jumbotron">
    <div class="{{navbarPosition}}">
      <div class="tabs">
        <a routerLink="/home">
          <button [@navBarRight]="stateNav" (click)="moveMeRight()" mat-raised-button color="primary">Home</button>
        </a>
      </div>
      <div class="tabs">
        <a>
          <button [@navBarRight]="stateNav" (click)="openSearchNutri()" mat-raised-button color="primary">Search</button>
        </a>
      </div>
      <div class="tabs">
        <a routerLink="/box">
          <button [@navBarRight]="stateNav" (click)="logout()" mat-raised-button color="primary" routerLink="recipe">Logout</button>
        </a>
      </div>
      <div class="buttonImage"></div>
    </div>
  </div>
</div>